doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Library App
  body
    div
      table
        thead
          tr
            th Book ID:
            th Title:
            th Author:
            th Date Published:
            th Onshelf?
        tbody
          //
            <tr>
            <td>sample static data</td>
            <td>sample static data</td>
            <td>sample static data</td>
            <td>sample static data</td>
            <td>sample static data</td>
            </tr>
