doctype html
html
  head
    title BookWorms             
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    div
      label Add Book
        form(action="/insert", method='post')
          label Title:
          input(type='text', name='book_title')
          label Author:
          input(type='text', name="book_author")
          input(type='submit', value="Add Book", name="add_book")
      
  script(src="js/jquery.js")
  script(src="js/bootstrap.min.js")

