doctype html
html
  head
    title BookWorms    
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    div
      form(action="/login", method="post")
        p= context
        label Username:
        input(type="text", name="username")
        label Password
        input(type="password", name="password")
        input(type="submit", value="Log In", name="user_login")
      p Don't have an account?
      button(onClick="toSignupPage()") Sign Up!

  script(src="js/jquery.js")
  script(src="js/bootstrap.min.js")
  script.
    function toSignupPage(){
      window.location.href="/newUser"
    }
  